.nav-extended {
  background-color: rgb(41, 41, 41);
  color: white;
}

h1 {
  font-weight: 600;
  /* font-size: 5em; */
}

.containerBody {
  margin-top: 75px;
}

body {
  background-color: #f5f5f5;
}