/* Custom Stylesheet */

/* Global
-------------------------------------*/

h2 {
  margin: 0;
}

h3 {
  font-size: 1.6rem;
  line-height: 110%;
  margin: 0 0 1rem;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0rem 0;
}

h5 {
  margin: 0.82rem 0 2rem 0;
}

.container {
  width: 95%;
 }

.icon-block .material-icons {
  font-size: 2rem;
}

a {
  color: #26a69a;
}

a:hover {
  color: #2bbbad;
}

.btn:hover {
  color: #fff;
}

.divider {
  margin: 17px 0;
}

footer.page-footer {
  padding: 25px;
  margin: 0;
}

/* Nav
-------------------------------------*/

nav {
  width: 100%;
  height: 85px;
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn:hover, .btn-large:hover {
  background-color: #2bbbad;
}

.grey {
  background-color: #4B4337 !important;
}

/* Map Section
-------------------------------------*/

/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {
  margin-top: 15px;
  height: 400px;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#breweries{ 
  overflow: auto;
  margin-top: 50px;
  height: 365px;
}

.collapsible-body {
  padding: 0rem;
}

.card, .card-medium {
  padding: 0 0 0.5rem 0;
}

.horizontal {
  margin: 15px auto 0;
}

.card-image {
  height: 100px;
  overflow: hidden;
}

.beerImg {
  height: 100%;
  overflow: hidden;
}

.card .card-content {
  padding: 20px 20px 0;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #26a69a;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #2bbbad;
}

.near-me {
  margin-top: 15px;
}

.collection .collection-item.avatar {
  min-height: 50px;
  padding-left: 0px;
  position: relative;
  display: flex;
}

.collection .collection-item.avatar .title {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 5px 5px;
  display: flex;
  align-self: flex-end;
}

.collection {
  margin: 0.5rem 0 1rem 0;
  border: none;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .flex-s {
    display: flex;
    flex-direction: column; /* Stack on top */
  }
  .box-a {
    order: 2; /* Go down, bring Box B up */
  }
  .box-b {
    margin-top: 50px;
  }
  #breweries{ 
    margin-top: 20px;
  }
}

/* Paralax Banner
-------------------------------------*/

.parallax-container {
  min-height: 240px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  background:rgba(0, 0, 0, 0.75);
}

.parallax-container .section {
  width: 100%;
}

.header {
  padding-top: 25px;
}

@media only screen and (max-width : 992px) {
  h2 {
    font-size: 2.56rem;
    margin-top: 75px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

/* Beer Style Tabs
-------------------------------------*/

.tabs {
  background-color: #f5f5f5;
}

.tabs .tab a {
  color: #26a69a;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: auto;
  -webkit-transition: color .28s ease;
  transition: color .28s ease;
}

::-webkit-scrollbar {
  display: none;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #2bbbad;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #2bbbad;
  will-change: left, right;
}